.bg-home {
    max-width: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url('../image/home_mobile.webp');
    height: 635px;
}
@include media-breakpoint-up(lg) {
    .bg-home {
        background-image: url('../image/home.webp');
        height: 810px;
    }
}

.fixed-btn-img {
    width: 140px;
    height: 153px;
    background-image: url('../image/btn.webp');
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.fixed-btn-hover {
    z-index: 1;
    &:hover {
        .fixed-btn-img {
            background-image: url('../image/btn2.webp');
        }
    }
}
.banner {
    max-width: 100%;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: center center;
}
.bg-service {
    height: 215px;
    background-image: url('../image/banner_service-sm.webp');
}
@include media-breakpoint-up(lg) {
    .bg-service {
        background-image: url('../image/banner.webp');
        height: 288px;
    }
}
.bg-adoption {
    height: 135px;
    background-image: url('../image/title02.webp');
}
.bg-portfolio {
    height: 135px;
    background-image: url('../image/title01.webp');
}
