.img-home {
    background-image: url('../image/home_mobile.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 635px;
    max-width: 100%;
    margin-top: 65px;
}
@include media-breakpoint-up(lg) {
    .img-home {
        background-image: url('../../image/home.png');
        height: 810px;
    }
}
.img-title-works {
    background-image: url('../../image/title01.png');
    width: 250px;
    height: 133px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.fixed-btn-img {
    width: 140px;
    height: 153px;
    background-image: url('../../image/btn.png');
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.fixed-btn-hover {
    z-index: 1;
    &:hover {
        .fixed-btn-img {
            background-image: url('../../image/btn2.png');
        }
    }
}