.btnYellow {
    color: #3A3A3A;
    background-color: #F9C745;
    border: 0;
    text-decoration: none;
    width: 176px;
    display: inline-block;
    padding: 8px 48px;
    border-radius: 24px;
    &:hover{
        color: #3A3A3A;
        box-shadow: 0px 3px 0px 0px #3A3A3A;
    }
}
.btnOutlineBlack {
    font-size: 20px;
    color: #3A3A3A;
    border: 1px solid #3A3A3A;
    text-decoration: none;
    align-self: center;
    display: inline-block;
    padding: 8px 48px;
    border-radius: 50rem;
    &:hover {
        color: #3A3A3A;
        border: 1px solid #F9C745;
        background-color: #F9C745;
    }
}

.bg-dark-gradient {
    background-image: linear-gradient((180deg, #00000000 0%, #0000005D 100%));
    height: 100%;
    max-width: 100%;
}

.img-cover {
    background-size: cover;
}
.opacity {
    opacity: 0;
}
.img-pet:hover {
    .opacity {
        opacity: 1;
    }
}
.dog-wha:hover {
    .opacity {
        opacity: 1;
    }
    .text-change {
        color: #F9C745;
    }
}
.dog-dai:hover {
    .opacity {
        opacity: 1;
    }
    .text-change {
        color: #F9C745;
    }
}
.dog-snow:hover {
    .opacity {
        opacity: 1;
    }
    .text-change {
        color: #F9C745;
    }
}

.fixed-btn-text {
    background-color: #FFFFFF;
    color: #3A3A3A;
    border: 1px solid #3A3A3A;
    text-decoration: none;
    align-self: center;
    display: inline-block;
    padding: 8px 23px;
    border-radius: 50rem;
}

.triangle {
    transform: rotate(45deg);
    background: #FFFFFF;
    border-right: 1px solid #3A3A3A;
    border-bottom: 1px solid #3A3A3A;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 35px;
    left: 75px;
}

.hyphen {
    display: none;
}
.menu-text {
    color: #3A3A3A;
    &:hover {
        color: #F9C745;
    }
}
@include media-breakpoint-up(lg) {
    .menu-text {
        &:hover {
            .hyphen {
                display: inline;
            }
        }
    }
}